{% extends 'base.html.twig' %}

{% block title %} Login{% endblock %}

{% block body %}


<div class="container">
    {% if error %}
    <span class="alert">{{ error.messageKey }}</span>
    {% endif %}
    <h1>Login Page</h1>

    <form action="{{ path('login') }}" method="post" class="form-group">
        <input class="form-control" type="text" name="_username" value="{{ last_username }}">
        <input class="form-control" type="password" name="_password">
        <button class="btn-action" type="submit">Login</button>
    </form>
</div>
{% endblock %}
